@use 'color';



#welcome-section{
    background-color:color.$accent;
    color: color.$tertiary;
}

.welcome-img {
    border-radius: 15px;
    transform: translateY(30px);
    margin: auto; 
    float: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#welcome-section h1 {
    color: color.$tertiary;
    margin-top: 10vh;
}

#welcome-section p{ 
    font-size: 20px;
    margin: 25px 0;
    font-style: italic;
}